@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100%;
    width: 100%;
    position: fixed;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;      /* remove marcadores de lista */
    text-decoration: none;  /* remove sublinhado de links */ /* fonte base */
    border: none;           /* remove bordas de inputs e buttons */
    outline: none;          /* remove outline de inputs e buttons */
    background: none;       /* remove background padrão */
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #111 !important;
  transition: background-color 5000s ease-in-out 0s;
}


.rs-input:hover,
textarea.rs-input:hover,
select.rs-input:hover {
  border-color: #CDA327 !important;
}

.rs-input:focus,
.rs-input:focus-visible,
textarea.rs-input:focus,
textarea.rs-input:focus-visible,
select.rs-input:focus,
select.rs-input:focus-visible {
  border-color: #CDA327 !important;
  outline: none !important;
  box-shadow: 0 0 0 4px rgba(205, 163, 39, 0.16) !important;
}

